$primary-color: #FF7B29;
$secondary-color: #FF7B29;
// Light mode
$sidebar-color: #ededed;
$sidebar-text-color: black;

$sidebar-color-active:#d3d0d0;
$sidebar-text-color-active: white;
// Dark mode
$sidebar-dark-primary-text-color: white;
$sidebar-dark-primary-color: #2F353A;
$sidebar-dark-selected-color:#3A4248;